body {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

input,
button:focus {
  outline: none;
}

.header {
  background: #1a1a1a url("../img/header/bgc.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header .headerBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logoBox__img {
  height: 65px;
  width: auto;
  margin-right: 15px;
}

.logoBox__text {
  font-size: 17px;
  color: #fe6367;
}

.logoBox__text span {
  display: block;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  margin-bottom: 15px;
  color: white;
}

.phone__icon {
  height: 20px;
  width: auto;
}

.main {
  background: #1a1917 url("../img/main/bgc.jpg") center no-repeat;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 110px;
  position: relative;
  border-top: 2px solid #1e1e1e;
  z-index: 1;
}

.main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(30, 30, 30, 0.5);
  z-index: -1;
}

.mainSlider {
  text-align: center;
  max-width: 890px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.mainSlider__item .itemTitle {
  font-size: 47px;
  color: white;
  text-transform: uppercase;
  line-height: 1.043;
  margin-bottom: 20px;
}

.mainSlider__item .itemText {
  font-size: 21px;
  font-family: "Roboto";
  color: white;
  margin-bottom: 70px;
}

.mainSlider .prev {
  position: absolute;
  left: -15%;
  top: 30%;
  height: 65px;
  width: 20px;
  z-index: 20;
  background: url("../img/main/LeftArrow.png") center no-repeat;
  border: none;
}

.mainSlider .next {
  position: absolute;
  right: -15%;
  top: 30%;
  height: 65px;
  width: 20px;
  z-index: 20;
  background: url("../img/main/RightArrow.png") center no-repeat;
  border: none;
}

.mainNav {
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  bottom: -65px;
  left: 0;
  position: absolute;
  z-index: 500;
  display: block;
}

.mainNav__link {
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-right: 1px dotted #6c6c6b;
  padding-left: 30px;
  padding-right: 30px;
}

.mainNav__link:hover {
  color: #b3000d;
}

.mainNav__link_last {
  border-right: none;
}

.mainNavList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.mainNavList__item {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 2px solid transparent;
}

.mainNavList__item:hover {
  border-top: 2px solid #b3000d;
  color: #b3000d;
}

.buttonMenuBox {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.buttonMenuBox span,
.buttonMenuBox span:before,
.buttonMenuBox span:after {
  display: block;
  width: 18px;
  height: 2px;
  display: block;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #b3000d;
}

.buttonMenuBox span:before {
  content: '';
  margin-top: -6px;
}

.buttonMenuBox span:after {
  content: '';
  margin-top: 4px;
}

.container {
  max-width: 1220px;
}

.btn {
  font-size: 13px;
  background-color: #b3000d;
  border: none;
  color: white;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 12px;
  padding-left: 12px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e60011;
}

.btn_main {
  background-color: transparent;
  border: 2px solid white;
  text-decoration: none;
  border-radius: 2px;
  padding-left: 35px;
  padding-right: 35px;
  display: block;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
}

.btn_main:hover {
  border: 2px solid #b3000d;
  background-color: transparent;
  color: #b3000d;
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  /********************************MainSlider******************/

  .mainSlider .prev {
    left: 0;
    top: 30%;
    height: 65px;
    width: 20px;
    z-index: 20;
    background: url("../img/main/LeftArrow.png") center no-repeat;
    border: none;
  }

  .mainSlider .next {
    position: absolute;
    right: 0;
    top: 30%;
    height: 65px;
    width: 20px;
    z-index: 20;
    background: url("../img/main/RightArrow.png") center no-repeat;
    border: none;
  }

  /**********************************************************/

  /********************************MainNab******************/

  .mainNav {
    bottom: -58px;
  }

  .mainNav__link {
    font-size: 12px;
  }

  /**********************************************************/
}

@media screen and (max-width: 576px) {
  .hidenMD {
    display: none;
  }

  .showMD {
    display: block;
  }

  /*****************************Header*********************************/

  .header {
    background: #1a1a1a;
  }

  /*******************************************************************/

  /*******************************mainSlider**************************/

  .main {
    padding-top: 100px;
  }

  .mainSlider__item .itemTitle {
    font-size: 20px;
    line-height: 1.5;
  }

  .mainSlider__item .itemText {
    font-size: 18px;
  }

  .mainSlider .prev {
    left: -5px;
  }

  .mainSlider .next {
    right: -5px;
  }

  /******************************************************************/

  /******************************mainNav***************************/

  .mainNav {
    position: static;
    margin-top: 20px;
    background-color: #1a1a1a;
  }

  .mainNav__link {
    font-size: 17px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-right: none;
  }

  .mainNavList {
    display: block;
  }

  .mainNavList__item {
    display: block;
    padding-top: 10;
    padding-bottom: 0;
  }

  .mainNavList__item:hover {
    border-top: none;
    color: #b3000d;
  }

  /****************************************************************/
}

@media screen and (max-width: 320px) {
  .hidenSM {
    display: none;
  }

  /*******************************mainSlider**************************/

  .mainSlider__item .itemTitle {
    font-size: 25px;
    line-height: 1.5;
    text-transform: none;
  }

  .mainSlider .prev {
    left: -5px;
  }

  .mainSlider .next {
    right: -5px;
  }

  /******************************************************************/
}