.mainNav{
    width: 100%;
    background-color: rgba(30, 30, 30, .5);
    bottom: -65px;
    left: 0;
    position: absolute;
    z-index: 500;
    display: block;
    
    &__link{
        text-decoration: none;
        font-size: 17px;        
        color: rgb(255, 255, 255);
        display: block;
        padding-top: 10px;
        padding-bottom: 10px; 
        border-right: 1px dotted #6c6c6b;
        padding-left: 30px;
        padding-right: 30px;
        &:hover{
            color: $mainRed; 
        }
        
        &_last{
            border-right: none;
        }
    }
}

.mainNavList{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 0;    
    padding: 0;

    &__item{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 2px solid transparent;         

        &:hover{
            border-top: 2px solid $mainRed; 
            color: $mainRed; 
        }
    }
}


.buttonMenuBox{
   
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;

    span, span:before, span:after{
        display: block;
        width: 18px;
        height: 2px;            
        display: block;
        margin: 0 auto;
        position: absolute;

        left: 50%;
        margin-left:-9px;
        top: 50%;            
        margin-top: -1px;
        background-color: $mainRed;
    }
    span:before{
        content: '';
        margin-top: -6px;            
    }
    span:after{
        content: '';
        margin-top: 4px;           
    }

} 

