@media screen and (max-width: 768px){

    .hidenLg{
        display: none;
     }

/********************************MainSlider******************/

.mainSlider{


    .prev{
        left: 0;
        top: 30%;
        height: 65px;
        width: 20px;
        z-index: 20;
        background: url(../img/main/LeftArrow.png) center no-repeat;
        border: none;
    }
    .next{
        position: absolute;
        right: 0;
        top: 30%;
        height: 65px;
        width: 20px;
        z-index: 20;
        background: url(../img/main/RightArrow.png) center no-repeat;
        border: none;
    }
}



/**********************************************************/

/********************************MainNab******************/


.mainNav{
    bottom: -58px;    
    &__link{
        font-size: 12px;
    }
}


/**********************************************************/



/***********************About*****************************/


.aboutBox{
    flex-wrap: wrap;
    &__text{
        order: 2;
    }
}

/**********************************************************/

/***********************servicess*****************************/
.servicesBox{
    flex-wrap: wrap;
    justify-content: space-around;
}


/**********************************************************/



/***********************Clients*****************************/

.ClientsSliderItem{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.ClientsSkiderPrev{
    left: 0;
    top: 30%;
    z-index: 100;
}
.ClientsSkiderNext{
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 100;
}


/**********************************************************/

/***********************News*****************************/

.newsItem{
    justify-content: space-around;
    &__ImgBox{
        flex-basis: 270px;
    }
    &__text{
        flex-basis: 400px;
        font-size: 14px;
    }
}


/**********************************************************/













/**********************************************************/







}