@media screen and (max-width: 320px){

.hidenSM{
    display: none;
}

 /*******************************mainSlider**************************/


 .mainSlider{
    &__item{
        .itemTitle{
            font-size: 25px;
            line-height: 1.5;
            text-transform: none;
        }        
    }
    .prev{
        left: -5px;
    }
    .next{
        right: -5px;
    }
}



 /******************************************************************/
    

}