@media screen and (max-width: 576px){

 .hidenMD{
    display: none;
 }

 .showMD{
     display: block;
 }


/*****************************Header*********************************/



.header{
    background: #1a1a1a;
}





/*******************************************************************/




 /*******************************mainSlider**************************/

 .main{
    padding-top: 100px;
 }

 .mainSlider{
    &__item{
        .itemTitle{
            font-size: 20px;
            line-height: 1.5;
        }
        .itemText{
            font-size: 18px;
        }        
    }
    .prev{
        left: -5px;
    }
    .next{
        right: -5px;
    }
}



 /******************************************************************/
    
 /******************************mainNav***************************/
 
 .mainNav{
   position: static;
   margin-top: 20px;
   background-color: #1a1a1a;
    
    &__link{
        font-size: 17px;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px; 
        border-right: none;        
    }
}
 
 
 .mainNavList{
    display: block;
    
    &__item{
        display: block;
        padding-top: 10;
        padding-bottom: 0;               

        &:hover{
            border-top: none; 
            color: $mainRed; 
        }
    }
}
 

 /****************************************************************/
 
 /***********************servicess*****************************/
 .servicesBox{
    justify-content: center;
}
/************************************************************/



 /***********************Clients*****************************/

 .ourClients{
    &__title{
        margin-bottom: 30px;
    }
}

.ClientsSliderItem{
    flex-wrap: wrap;
    &__text{
        flex-basis: 100%;
        margin-left: 0;
    }
}

.ClientsImgBox{
    margin-bottom: 20px;
    flex-basis: 70%;
}
/************************************************************/    


/***********************News*****************************/

.newsItem{
    flex-wrap: wrap;
    justify-content: center;
    &__ImgBox{
        flex-basis: 270px;
        margin-bottom: 15px;
    }
    &__text{
        flex-basis: 400px;
        font-size: 14px;
    }
}


/**********************************************************/


/***********************Footer*****************************/
.footer{
    &__image{
        position: relative;
        height: 200px;
    }
}
/**********************************************************/
}