@import 'colors.scss';
@import 'reset.scss';
@import 'header.scss';
@import 'main.scss';


.container{
    max-width: 1220px;
}

.btn{
    font-size: 13px;
    background-color: $mainRed;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    &:hover{
        background-color: lighten($mainRed, 10%);
    }
}

.btn_main{
    background-color: transparent;
    border: 2px solid  rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        border: none;
    }
}
