@import 'colors.scss';
@import 'reset.scss';
@import 'header.scss';
@import 'main.scss';
@import 'mainNav.scss';
@import 'about.scss';
@import 'services.scss';
@import 'ourClients.scss';
@import 'news.scss';


.container{
    max-width: 1220px;
}

.btn{
    font-size: 13px;
    background-color: $mainRed;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
    &:hover{
        background-color: lighten($mainRed, 10%);
    }
}

.btn_main{
    background-color: transparent;
    border: 2px solid  rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 2px;
    padding-left: 35px;
    padding-right: 35px;
    display: block;
    max-width: 180px;
    margin-left: auto;
    margin-right: auto;
    &:hover{
        border: 2px solid $mainRed;
        background-color: transparent;
        color: $mainRed;

    }
}

.hide{
    display: none;
}

.my-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .my-dots li {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 10px;
    padding: 0;
    cursor: pointer;
  }
  
  .my-dots li button {
    display: block;
    width: 5px;
    height: 5px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    background-color: $mainRed;
    border-radius: 50%;
    border: 3px solid $mainRed;
    outline: none;
  }
  
  .my-dots li button:hover,
  .my-dots li button:focus {
    outline: none;
  }
  
  .my-dots li button:before {
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: -1px;
    width: 20px;
    height: 20px;
    content: url('');
    border-radius: 50%;
    background-color: rgb(40, 40, 40);;
    border: 5px solid white;
    text-align: center;
   }
  
  .my-dots li.slick-active button:before {
    opacity: 0;
  }

@import 'media1200.scss';
@import 'media768.scss';
@import 'media576.scss';
@import 'media320.scss';
